
a{
	text-decoration: none; /*Grobe Einstellungen fuer Links*/
	color: inherit;
}

.Menue{
	background-color: black;
	display: flex;
	justify-content: space-between; /*Einstellungen fuer Layout in der Navigationsleiste*/
	flex-direction: row;
	margin-right: 2cm;
	margin-left: 2cm;
	margin-bottom: 0,5cm;
}
.Menue a{
	color: white; /*Schriftfarbe der links in der Navigationsleiste*/
}
	
.Menue a:hover{
	background-color: gray; /*Effekt fuer Cursor in der Navigationsleiste*/
	border-radius: 20px;
	height: 50px;
}
.Logo a:hover{
	height: 0px;
	background-color: black;/*Effekt fuer das Logo in der Navigationsleiste*/
}
.FrankfurtTimes {
	display: flex;
	flex-direction: row;
	justify-content: center;	/*Formatierung der Ueberschrift*/
	font-size: 2.5cm;
	font-family: Times New Roman;
}
.Seitenformat{
	justify-content: left; /*Inhalte Links anordnen*/
}
.grid-container {
	display: grid;
	padding: 2rem;
	grid-template-columns: 500px 1fr; /*Einstellungen fuer Schrift und Items in dem Grid*/
	gap: 2rem;
	max-width: 1200px;
	margin: 10;
	font: 600 150%/2;
}
img {
	max-width: 100%;	/*Einstellungen fuer die Bildformatierung*/
	height: auto;
}
@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
  





